<!-- yes @Bowser65 -->
<configuration>
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%boldWhite([%thread]) %boldCyan([%logger{32}]) %boldRed(>) %white(%msg) %n</pattern>
		</encoder>
	</appender>

	<appender name="METRICS"
		class="com.codahale.metrics.logback.InstrumentedAppender" />

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="METRICS" />
	</root>
</configuration>